.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#0042a1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 5;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.text-field {
    -fx-border-color: #2A5058;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

.table-view {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

